head
    meta(charset= "UTF-8")
    meta(
        name="viewport"
        content="width=device-width,initial-scale=1"
    )

    //- METADATAS

    title #{title}
    meta(
        name="description"
        content=description
    )
    meta(
        name="author"
        content=author
    )
    meta(
        name="generator"
        content="https://github.com/Myllaume/myllaume-page-generator 0.1.0"
    )
    //- OpenGraph
    meta(
        property="og:title"
        content=title
    )
    meta(
        property="og:description"
        content=description
    )
    meta(
        property="og:description"
        content=description
    )
    meta(
        property="og:site_name"
        content=sitename
    )

    //- STYLE

    style
        include style.css
        include code.css