doctype html
html(lang='fr')
    include head
    body
        .wrapper
            include header

            main
                div
                    a(
                        class='retour'
                        href= pathBase + 'index.html'
                    ) Retour accueil

                <h1>#{title}</h1> !{content}

                ul(class='metadonnees')
                    li <span class="metadonnees__key">mots-clés</span> : #{keyword.join(', ')}
                    li <span class="metadonnees__key">mise en ligne</span> : 2020-01-01
                    li <span class="metadonnees__key">dernière édition</span> : 2020-01-01
                    li <span class="metadonnees__key">auteur</span> : #{author}

            include footer